version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    environment:
      - DATABASE_URL=postgresql+asyncpg://admin:admin@db:5432/prosensia

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: prosensia
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d prosensia" ]
      interval: 5s
      timeout: 5s
      retries: 5
